
$font-family_fun: "Lobster"
$font-family: "Itim"

$c_bg_dark: #041026
$c_bg: #160A40
$c_bg_light: #311459
$c_bg_lighter: #3D1673
$c_bg_green: #0D8C68
$c_light: #F2F2F2
$c_text: #F2F2F2

$c_shadow: #8B2A8C
$c_shadow_light: #A429A6
$c_shadow_white: $c_light
$c_shadow_green: #0E7369
$c_shadow_red: #F22738

$font_heading: 3rem
$font_sub_heading: 2rem
$font_details: 1.2rem
$font_description: 0.75rem

$box_shadow: 0px 10px 20px $c_shadow
$box_shadow_white: 3px 5px 10px 7px #736b6b24
$box_shadow_green: 0px 0px 20px 10px $c_shadow_green
$box_shadow_red: 0px 0px 70px 7px $c_shadow_red
$box_shadow_center: 0px 0px 20px 10px $c_shadow

$tick_svg: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00008 0.666626C4.40008 0.666626 0.666748 4.39996 0.666748 8.99996C0.666748 13.6 4.40008 17.3333 9.00008 17.3333C13.6001 17.3333 17.3334 13.6 17.3334 8.99996C17.3334 4.39996 13.6001 0.666626 9.00008 0.666626ZM7.33342 13.1666L3.16675 8.99996L4.34175 7.82496L7.33342 10.8083L13.6584 4.48329L14.8334 5.66663L7.33342 13.1666Z' fill='%235DB85C'/%3E%3C/svg%3E")

$trash_svg: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='512.000000pt' height='512.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M2530 4429 c-108 -21 -209 -101 -261 -206 -22 -44 -24 -62 -27 -237%0A-3 -182 -3 -189 18 -211 31 -33 105 -49 161 -35 91 23 99 41 99 222 0 131 2%0A146 20 166 11 12 31 24 43 27 13 4 125 5 250 3 292 -4 270 12 277 -209 5 -154%0A6 -162 28 -180 51 -41 138 -46 204 -13 46 24 50 43 46 228 -3 163 -5 174 -32%0A233 -48 106 -150 188 -264 212 -62 13 -495 13 -562 0z'/%3E%3Cpath d='M1995 4280 c-292 -70 -492 -166 -611 -292 -105 -111 -134 -195 -134%0A-388 0 -186 29 -275 121 -375 l38 -41 100 -989 c56 -545 106 -1019 112 -1055%0A35 -216 260 -385 622 -470 193 -44 301 -55 577 -54 227 0 284 3 395 22 414 71%0A658 198 754 394 l32 65 99 964 c54 530 102 998 106 1039 6 69 10 79 49 125 97%0A116 115 175 115 376 0 163 -14 228 -64 308 -103 162 -372 307 -702 379 l-92%0A19 20 -56 c11 -31 23 -89 27 -130 l6 -74 80 -22 c286 -81 459 -192 481 -312%0A16 -85 -70 -189 -217 -262 -558 -279 -1776 -260 -2256 36 -99 61 -145 118%0A-151 188 -4 45 0 61 22 100 52 88 201 173 416 238 l115 35 7 70 c4 39 16 96%0A28 128 11 32 19 58 17 59 -1 1 -51 -10 -112 -25z m-57 -1356 c44 -18 88 -58%0A109 -97 14 -28 173 -1511 173 -1623 0 -40 -5 -55 -23 -72 -69 -64 -192 -16%0A-226 90 -12 38 -171 1547 -171 1625 0 44 4 55 26 72 32 25 62 26 112 5z m1867%0A-9 c20 -19 25 -35 25 -71 0 -76 -160 -1585 -171 -1622 -34 -105 -157 -155%0A-226 -90 -18 17 -23 32 -23 73 0 28 36 398 79 822 55 534 84 779 94 799 32 61%0A109 113 170 114 17 0 38 -10 52 -25z m-916 -129 c15 -8 32 -26 39 -41 9 -19%0A12 -233 12 -855 l0 -828 -25 -31 c-66 -77 -198 -56 -225 37 -8 25 -10 293 -8%0A853 3 801 3 817 23 839 11 12 29 26 40 31 32 13 114 10 144 -5z'/%3E%3C/g%3E%3C/svg%3E%0A")
