@import "_variables"

button.formbutton
    padding: 0.5rem 1.5rem
    background: $c_bg_green
    box-shadow: $box_shadow_green
    font-size: $font_details
    border: none
    border-radius: 4px
    cursor: pointer

    &.add-icon
        padding: 0
        padding-bottom: 5px
        border-radius: 50%
        background: $c_bg_green
        color: $c_light
        border-radius: 50%
        width: 50px
        height: 50px
        font-size: 2rem

    &:hover
        transform: scale(1.2)

    &.trash-icon
        padding: 0
        margin-left: auto
        background: no-repeat center/50% $trash_svg
        background-color: #333
        color: $c_light
        width: 55px
        height: 55px
        font-size: 2rem
        box-shadow: none

        &:hover
            transform: scale(1)
            box-shadow: $box_shadow_red
            background-color: #f2273859

@media (max-width: 1300px)
    button.formbutton
        &.trash-icon
            width: 3rem
