@import "_variables"

.signup-container
    width: 20vw
    min-width: 300px
    padding: 2rem
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    font-family: $font-family
    gap: 2rem

    & > h1
        font-family: $font-family_fun
        font-size: $font_heading
